/*------------------------------------* 
   $ABOUT US SECTION 
*------------------------------------*/

.info-btn
  position absolute
  bottom 100%
  left 50%
  vendor('transform', translateX(-50%))
  background-color $brand-color--darken
  width 100px
  height 30px
  line-height 30px
  z-index 500
  text-align center
  text-transform uppercase
  color #fff
  vendor('border-radius', 4px 4px 0 0)
  vendor('transition', background-color .2s)

  &:hover, &:focus
    color #fff
    background-color $brand-color

.close-btn
  position absolute
  right 20px
  top 20px
  color #fff
  z-index 500
  line-height 1
  text-transform uppercase

  &:hover
    color #eee

.close-cross
  position absolute
  z-index 500
  width 16px
  height 16px
  right 110%
  top 50%
  vendor('transform', translateY(-50%))

  &:before, &:after
    content ''
    display block
    position absolute
    width 100%
    height 2px
    z-index 510
    background-color white
    top 45%

  &:before
    vendor('transform', rotate(45deg))

  &:after
    vendor('transform', rotate(-45deg))

.about-us
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.6)
  vendor('transform', translateY(100%))
  z-index 500
  color #fff
  vendor('transition', all .3s ease-out)
  
body.opened__about-us .about-us
  vendor('transform', translateY(0%))

.about-us__wrapper
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  overflow scroll
  padding 40px 10px
  
.inner
  position relative
  max-width 800px
  margin 0 auto

  p
    font-size 1.3em
    line-height 1.68
    color #eee
    font-weight 400
  
.about-title
  text-transform uppercase
  font-weight 400
  font-size 4.4em
  line-height 1
  margin 0
  margin-bottom 15px

.about-subtitle
  font-size 3.45em
  margin 0
  line-height 1
  text-transform uppercase
  font-weight 600
  display block
  margin-bottom 1em
  color #eee
  background -moz-linear-gradient(top,  rgba(132,150,174,1) 0%, rgba(179,190,205,1) 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,150,174,1)), color-stop(100%,rgba(179,190,205,1)))
  background -webkit-linear-gradient(top,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  background -o-linear-gradient(top,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  background -ms-linear-gradient(top,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  background linear-gradient(to bottom,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  -webkit-background-clip text
  -webkit-text-fill-color transparent

.contact-form
  padding-top 1em

.form-title
  font-size 2.4em
  font-weight 600
  line-height 1
  margin 0
  margin-bottom 30px

  span
    font-weight 300
    font-style italic
    margin-right .5em

.input-field, .textarea-field
  font-size 18px
  padding 10px
  border 1px solid #111
  background-color #fff
  vendor('border-radius', 4px)
  margin-bottom $base-spacing-unit
  color #111

.textarea-field
  padding 15px 20px
  font-size 22px
  max-height 400px
  resize vertical

.form-submit
  background-color $link-color
  border none
  line-height 50px
  height 60px
  font-size 1.5em
  text-transform uppercase
  font-weight 500
  vendor('border-radius', 4px)
