/*------------------------------------* 
   $ABOUT US SECTION 
*------------------------------------*/

.info-btn
  display none

.about-us
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.8)
  z-index 500
  color #fff
  overflow hidden

.about-us__wrapper
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  overflow scroll
  padding 25px 10px
  
.inner
  position relative
  max-width 800px
  margin 0 auto

  p
    font-size 1.3em
    line-height 1.68
    color #eee
    font-weight 400
  
.about-title
  text-transform uppercase
  font-weight 400
  font-size 4.4em
  line-height 1
  margin 0
  margin-bottom 15px

.about-subtitle
  font-size 3.45em
  margin 0
  line-height 1
  text-transform uppercase
  font-weight 600
  display block
  margin-bottom 1em
  color #eee
  background -moz-linear-gradient(top,  rgba(132,150,174,1) 0%, rgba(179,190,205,1) 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,150,174,1)), color-stop(100%,rgba(179,190,205,1)))
  background -webkit-linear-gradient(top,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  background -o-linear-gradient(top,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  background -ms-linear-gradient(top,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  background linear-gradient(to bottom,  rgba(132,150,174,1) 0%,rgba(179,190,205,1) 100%)
  -webkit-background-clip text
  -webkit-text-fill-color transparent

.contact-form
  padding-top 1em

.form-title
  font-size 2.4em
  font-weight 600
  line-height 1
  margin 0
  margin-bottom 30px

  span
    font-weight 300
    font-style italic
    margin-right .5em

.input-field, .textarea-field
  font-size 18px
  padding 10px
  border 1px solid #111
  background-color #fff
  vendor('border-radius', 4px)
  margin-bottom $base-spacing-unit
  color #111

.textarea-field
  padding 15px 20px
  font-size 22px
  max-height 400px
  resize vertical

.form-submit
  background-color $link-color
  border none
  line-height 50px
  height 60px
  font-size 1.5em
  text-transform uppercase
  font-weight 500
  vendor('border-radius', 4px)
