/*------------------------------------* 
   $DEFAULTS 
*------------------------------------*/
/** 
 * Unique style, colors and misc variables 
 */

$brand-color = #8496AE
$brand-color--lighten = #B3BECD
$brand-color--darken = #333C4D

$brand-round = 4px

$link-color = #5580B1

$base-font-size = 1em
$base-line-height = 1.5
$base-font-family = "omnes-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;

// Global border box
$global-border-box = true

// Base spacing unit
$base-spacing-unit = 15px
