/*------------------------------------* 
   $GRIDS 
*------------------------------------*/

/** 
 * Container
 */
.container
  max-width 960px
  margin 0 auto

/** 
 * Grid wrapper 
 */
.grid
  margin-left - $base-spacing-unit
  list-style none
  margin-bottom 0
  clearfix()

  /** 
   * Very infrequently occuring grid wrappers as children of grid wrappers. 
   */
  .grid > .grid
    margin-left 0

  /** 
   * Grid 
   */
  .grid__item
    display inline-block
    padding-left $base-spacing-unit
    vertical-align top
    float left


/** 
 * Widths 
 */
.one-tenth
  width 10%
.two-tenths
  width 20%
.three-tenths
  width 30%
.four-tenths
  width 40%
.five-tenths
  width 50%
.six-tenths
  width 60%
.seven-tenths
  width 70%
.eight-tenths
  width 80%
.nine-tenths
  width 90%
.one-half
  width 50%
.one-whole
  width 100%


/** 
 * Helpers 
 */
.pos--relative
  position relative !important
  clearfix()
