/*------------------------------------* 
   $MEDIA QUERIES 
*------------------------------------*/
@media screen and (max-width: 83em)
  .intro-content
    font-size 90%

@media screen and (max-width: 58em)
  body 
    font-size 90%

@media screen and (max-width: 49.4375em)
  .open-right .side-right
    -webkit-transform translateX(-175%)
    transform translateX(-175%)

  .open-right .side-left
    -webkit-transform translateX(-100%)
    transform translateX(-100%)

  .open-left .side-right
    -webkit-transform translateX(100%)
    transform translateX(100%)

  .open-left .side-left
    -webkit-transform translateX(175%)
    transform translateX(175%)

  .page
    width: 100%

  .page-inner
    padding 1em

    h2
      font-size 1.6em

    p
      font-size 1em

  .page-right
    left 0
    padding-left 15%

  .page-left
    padding-right 15%

  .intro-content
    width: 100%

  .profile__name
    font-size 14px

  .profile__role
    color $brand-color--darken
    font-weight 400

  .open-right .side-right .intro-content
    top 100%
    -webkit-transform translateY(-150px) translateX(-12.5%) scale(0.5)
    transform translateY(-150px) translateX(-12.5%) scale(0.5)

  .open-left .side-left .intro-content
    top 100%
    -webkit-transform translateY(-150px) translateX(-87.5%) scale(0.5)
    transform translateY(-150px) translateX(-87.5%) scale(0.5)

  .open-right .intro-content h1,
  .open-left .intro-content h1,
  .open-right .intro-content .profile__img,
  .open-left .intro-content .profile__img
    opacity 0

  .back-left
    left 10%

  .back-right
    right 10%



@media screen and (max-width: 42.5em)
  body 
    font-size 90%
    
    .intro-content 
      font-size 70%

    .profile__role
      font-size 70%

    .profile__img
      width 80px
      height 80px

      &:before
        line-height 80px
        font-size 12px

@media screen and (max-height 41.125em)
  .intro-content
    -webkit-transform translateY(-25%) translateX(-50%)
    transform translateY(-25%) translateX(-50%)

@media screen and (max-width: 39.375em)
  .intro-content .profile 
    -webkit-transform scale(0.5) transform scale(0.5)

@media screen and (max-width: 320px)
  body 
    font-size 70%
