<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE]>           <html class="no-js ie-shit"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  
  <meta property="og:image" content="{{ site.url }}/images/fbimage.png"/>
  <meta property="og:title" content="Crip as a Service"/>
  <meta property="og:url" content="http://crip.io/"/>
  <meta property="og:site_name" content="Crip as a Service"/>
  <meta property="og:type" content="website"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon.png">

  <link rel="stylesheet" href="{{ site.url }}/style.css">
  
  <script type="text/javascript" src="//use.typekit.net/jvu6kzp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script><script type="text/javascript">google.load("jquery", "1");</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

  <title>{{ site.name }}</title>
  <meta charset="UTF-8">
</head>
<body>
  <div class="site">
    <header class="header">
       <figure class="logo-wrap">
        <img src="{{ site.url }}/images/logo_gradient.svg" alt="Crip as a Service Logo" class="logo">
      </figure>
      <h1 class="site-name">C<span>rip</span>a<span>s</span>a<span></span>S<span>ervice</span></h1>
    </header>
    <div id="profiles" class="profiles">
      <div class="intro">
        <div class="side  side-left">
          <div class="intro-content">
            <figure class="profile__img"><img src="{{ site.url }}/images/johnie.jpg" alt="Johnie Hjelm"></figure>
            <h1><span class="profile__name">{{ site.data.johnie.name }}</span> <span class="profile__role">{{ site.data.johnie.role }}</span></h1>
          </div>
          <div class="overlay"></div>
        </div>
        <div class="side  side-right">
          <div class="intro-content">
            <figure class="profile__img"><img src="{{ site.url }}/images/viktor.jpg" alt="Viktor Johansson"></figure>
            <h1><span class="profile__name">{{ site.data.viktor.name }}</span> <span class="profile__role">{{ site.data.viktor.role }}</span></h1>
          </div>
          <div class="overlay"></div>
        </div>
      </div><!-- /.intro -->
      <div class="page  page-right  page-large">
        <div class="page-inner">
          <section>
            {% markdown viktor.md %}
          </section>
          <section>
            <!-- content -->
          </section>
        </div><!-- /.page-inner -->
      </div><!-- /.page-right -->
      <div class="page  page-left  page-large">
        <div class="page-inner">
          <section>
            {% markdown johnie.md %}
          </section>
          <section>
            <!-- content -->
          </section>
        </div><!-- /.page-inner -->
      </div><!-- /.page-left -->
      <a href="#" class="back  back-right" title="Back to intro">→</a>
      <a href="#" class="back  back-left" title="Back to intro">←</a>
    </div><!-- /.profiles -->
  </div><!-- /.site -->

  <script src="{{ site.url }}/js/classie.js"></script>
  <script src="{{ site.url }}/js/master.js"></script>
</body>
</html>
